.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    text-align: left;
    margin: 10px;
    padding: 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.itemDetails {
    width: 60%;
    text-align: left;
}
